:root {
    --container: 1200px;
    --bg-primary-color: #f3f3f3;
    --primary-color: #ff0000;
    --border-color: #ccc;
    --text-color: #333;
    --title-color: #000;
    /* Định nghĩa các biến khác tại đây */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

a {
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

html,
body {
    overflow-x: hidden;
    background-color: #f3f3f3;
    transition: linear .2s;
    scroll-behavior: smooth
}

ol,
ul,
li {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.main-wrapper {
    max-width: calc(var(--container) + 60px);
    display: block;
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--bg-primary-color)
}

.wrapper-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 75rem;
    max-width: 100%;
    background-color: #fff;
    margin: auto;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--border-color)
}

.wrapper-navbar .wrapper-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow: auto;
    white-space: nowrap
}

.wrapper-navbar .wrapper-menu .menu-item,
.wrapper-menu#menu .menu-item {
    font-size: 1rem;
    position: relative;
    font-weight: 600
}

.wrapper-navbar .wrapper-menu .menu-item .menu-link {
    color: var(--text-color);
    display: inline-block;
    transition: .3s;
    line-height: 2
}

.wrapper-navbar .wrapper-menu .menu-item .menu-link:before,
.wrapper-menu#menu .menu-item .menu-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--primary-color);
    transition: .3s;
    transform: scaleX(0)
}

.wrapper-navbar .wrapper-menu .menu-item:hover .menu-link,
.wrapper-menu#menu .menu-item:hover .menu-link {
    color: var(--primary-color)
}

.wrapper-navbar .wrapper-menu .menu-item:hover .menu-link:before,
.wrapper-menu#menu .menu-item:hover .menu-link:before {
    transform: scaleX(1)
}


.menu-toggle {
    cursor: pointer;
    display: none;
    /* Ẩn ban đầu */

}

.wrapper-navbar.wrapper-menu .menu-item {
    color: var(--text-color);
}


/* Hiển thị menu khi toggle được bật */
.menu-toggle.active #menu {
    transform: translateX(0);
    left: 0;
}

#menu {
    /* CSS hiện tại của menu */
    /* Thêm transition cho hiệu ứng di chuyển */
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: -700px;
    /* Ẩn menu bên trái */
    width: 95%;
    z-index: 10;
    height: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.wrapper-menu#menu .menu-item {
    text-align: center;
    padding: 20px 0;
}

.wrapper-menu#menu .menu-link {
    color: var(--text-color);
}

.wrapper-home-banner {
    width: 75rem;
    max-width: 100%;
    margin: auto;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color)
}

.wrapper-home-banner .wrapper-logo {
    display: flex;
    flex-wrap: wrap
}

.wrapper-home-banner .wrapper-logo img {
    height: 8rem;
    width: 13rem;
    max-width: 100%;
    object-fit: cover
}

.holder-main-content {
    width: var(--container);
    margin: 0 auto
}

.holder-main-content .left-content {
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    min-height: 1px;
    width: 70.94%;
    float: left;
    padding: 1rem 0
}

.holder-main-content .right-content {
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    min-height: 1px;
    width: 29.06%;
    float: right
}

.wrapper-sidebar {
    display: flex;
    flex-wrap: wrap
}

.wrapper-sidebar .wrapper-category {
    display: flex;
    flex-direction: column;
    width: 100%
}

.wrapper-sidebar .wrapper-category li {
    width: 100%;
    font-size: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding: .5rem 0
}

.wrapper-sidebar .wrapper-category li:hover {
    color: var(--primary-color)
}

.wrapper-sidebar .widget-title {
    color: var(--title-color);
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid var(--title-color);
    width: 100%
}

.wrapper-sidebar .widget-title .widget-text {
    text-align: center;
    position: relative;
    display: block;
    z-index: 3;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem 0
}

.wrapper-sidebar .widget-title .widget-text:before {
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    bottom: -2px;
    background: var(--primary-color);
    left: 50%;
    margin-left: -20px
}

.wrapper-sidebar .wrapper-container {
    display: flex;
    gap: 1.5rem 1rem;
    flex-wrap: wrap;
    padding: 1rem 0
}

.wrapper-sidebar .wrapper-container .holder-box {
    width: calc(50% - .5rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem
}

.wrapper-sidebar .wrapper-container .holder-box:first-child {
    width: 100%
}

.wrapper-sidebar .wrapper-container .holder-box:first-child .wrapper-image {
    height: 12rem
}

.wrapper-sidebar .wrapper-container .holder-box:first-child .wrapper-content a {
    font-size: 1rem
}

.wrapper-sidebar .wrapper-container .holder-box .wrapper-image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 6rem
}

.wrapper-sidebar .wrapper-container .holder-box .wrapper-image .sidebar-img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.wrapper-sidebar .wrapper-container .holder-box .wrapper-image .shadow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .7s;
    background-image: linear-gradient(to bottom, #f000, #0000004d)
}

.wrapper-sidebar .wrapper-container .holder-box .wrapper-image .shadow-image:hover {
    transition: .7s;
    background-image: linear-gradient(to bottom, #ffffff2f, #0000004d)
}

.wrapper-sidebar .wrapper-container .holder-box .wrapper-content a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: .8rem;
    color: var(--text-color);
    font-weight: 700;
    transition: .5s
}

.wrapper-sidebar .wrapper-container .holder-box .wrapper-content a:hover {
    color: var(--primary-color);
    transition: .5s
}

.wrapper-article-list {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: center;
    align-items: center
}

.wrapper-article-list .line {
    width: 60rem;
    max-width: 90%;
    height: 1px;
    background-color: var(--border-color)
}

.wrapper-article {
    display: flex;
    flex-direction: row;
    width: 80rem;
    align-items: center;
    max-width: 100%;
    margin: auto
}

.wrapper-article .wrapper-image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 28rem;
    height: 18rem;
    max-width: 100%
}

.wrapper-article .wrapper-image .shadow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .7s;
    background-image: linear-gradient(to bottom, #f000, #0000004d)
}

.wrapper-article .wrapper-image:hover .shadow-image {
    transition: .7s;
    background-image: linear-gradient(to bottom, #ffffff2f, #0000004d)
}

.wrapper-article .wrapper-image .article-img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.wrapper-article .wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    padding: 2rem;
    max-width: 100%
}

.wrapper-article .wrapper-content .tags a {
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    font-size: .8rem;
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    transition: .7s
}

.wrapper-article .wrapper-content .tags a:hover {
    background-color: #000;
    color: #fff;
    transition: .7s
}

.wrapper-article .wrapper-content .wrap-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}

.wrapper-article .wrapper-content .wrap-date img {
    width: 13px;
    height: 13px
}

.wrapper-article .wrapper-content .wrap-date time {
    font-size: .8rem;
    color: var(--text-color);
    border-bottom: 1px solid var(--primary-color)
}

.wrapper-article .wrapper-content p {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.wrapper-article .wrapper-content a h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--title-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.wrapper-article .wrapper-content a h1:hover {
    color: var(--text-color)
}

.articleContent {
    display: block;
    clear: both;
    transform: none;
    padding-right: 2rem
}

.articleContent p {
    color: #000;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400
}

.articleContent img {
    height: 600px;
    margin: 0 auto
}

.articleContent h2:first-child {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px
}

.articleContent h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
    width: 100% !important
}

.articleContent a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline
}

.articleContent strong {
    width: 100% !important
}

.articleContent h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
    width: 100% !important
}

.articleContent h3 {
    font-size: 20px;
    font-weight: 600;
    width: 100% !important;
    margin: 10px 0
}

.articleContent iframe {
    height: 450px;
    width: 90%;
    margin: 40px auto
}

.menuListnav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    gap: 0;
    overflow: hidden;
    z-index: 1000000
}

#menuListContainer {
    transition: all .5s
}

.menuList {
    color: #000;
    margin-bottom: 20px;
    font-weight: 400
}

.menuList:first-child {
    padding-top: 10px
}

.wrapper-footer {
    width: 100%;
    margin: auto;
    color: #fff;
    background-color: #333;
    display: flex;
    flex-direction: column
}

.wrapper-footer .wrapper-tags {
    font-size: .8rem;
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-weight: 600;
    color: #fff;
    gap: 1rem;
    padding: 1rem;
    overflow: auto
}

.wrapper-footer .wrapper-tags a {
    padding: 1.5rem 0
}

.wrapper-footer .wrapper-tags a:hover {
    color: var(--primary-color)
}

.wrapper-footer .coppyright {
    color: #333;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: .5rem
}

.wrapper-footer .coppyright a {
    color: var(--primary-color)
}

@media (max-width: 1200px) {
    .main-wrapper {
        max-width: calc(var(--container) - 400px) !important
    }

    .wrapper-navbar {
        padding: 1rem 1.5rem
    }

    .holder-main-content {
        width: calc(var(--container) - 450px) !important
    }

    .holder-main-content .left-content {
        width: 100%;
        float: none !important;
        padding: 1rem 0rem
    }

    .holder-main-content .right-content {
        position: static !important;
        margin-left: 0 !important;
        top: auto !important;
        float: none !important;
        width: 100% !important;
        padding: 1rem 0rem
    }

    .wrapper-sidebar .wrapper-container .holder-box .wrapper-image {
        height: 20rem
    }

    .wrapper-sidebar .wrapper-container .holder-box:first-child .wrapper-image {
        height: 15rem
    }

    .wrapper-article {
        display: flex;
        flex-direction: row
    }

    .wrapper-article .wrapper-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 40rem;
        padding: 2rem;
        max-width: 100%
    }

    .articleContent {
        padding-right: 0
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        width: 100% !important
    }

    .holder-main-content {
        width: 90% !important;
        margin: 0 auto
    }

    .app-container {
        padding: 0
    }

    .articleContent img {
        height: auto !important;
        width: 100% !important
    }

    .articleContent iframe {
        height: 450px;
        width: 100%;
        margin: 40px auto
    }

    .wrapper-article-list {
        padding-top: 0;
    }

    .icon-bar {
        text-align: right;
    }

    .icon-bar i {
        padding: 10px;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .wrapper-navbar {
        display: none;
    }

    .icon-close-nav {
        position: absolute;
        right: 10px;
        padding: 10px;
        z-index: 12;
        font-size: 20px;
    }

    .icon-close-nav:hover {
        opacity: 0.8;
    }
}

@media (max-width: 590px) {


    .wrapper-article {
        flex-direction: column
    }

    .holder-main-content,
    .wrapper-navbar {
        padding: 1rem
    }

    .wrapper-sidebar .wrapper-container .holder-box .wrapper-image {
        height: 15rem
    }

    .wrapper-footer .wrapper-tags {
        flex-direction: column
    }
}